/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* Main Color #4d7c0f*/
/* Gray Color  #374151*/
/*Tints: #ecfccb  #f7fee7*/

.grid-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 64px;
}

@media (max-width: 964px) {
  .grid-col {
    column-gap: 48px;
  }
}

@media (max-width: 896px) {
  .grid-col {
    column-gap: 30px;
  }
}

@media (max-width: 824px) {
  .grid-col {
    display: block;
  }
}
